.info {
    font-style: normal;
    text-decoration: none;
  }

  .paragraph {
    @include fonts($primary-white-color, 14px, 700, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

.footer {
  padding-top: 60px;
  background-color: $background-black;
  height: 604px;

  &__container {
    @include flex-container(flex, space-between, center);
    flex-direction: column;
    gap: 60px;
  }

  &__address {
    @include flex-container(flex, center, center);
    flex-direction: column;
  }

  &__logotype {
    font-style: normal;
  }
 
  &__information {
    list-style: none;
    margin-top: 15px;
    text-align: center;
  }
  &__direction {
    @include fonts($primary-white-color, 14px, 400, 24px);
    letter-spacing: 0.03em;
  }
  &__contact {
    @include fonts($text-white-opacity, 14px, 400, 1.71);
    display: block;
    padding: 0px 0px 3px;
  }
  &__contact:hover {
    color: $accent-color;
  }
}
@media (min-width: 1200x) {
  .footer {
    padding-top: 60px;
    @include size(1600px, 252px);
    &__logotype {
      @include flex-container(flex, flex-start, flex-start);
    }
    &__information {
      margin-top: 6px;
      @include flex-container(flex, flex-start, flex-start);
      flex-direction: column;
      text-align:start;
    }
  }
}