.form-footer {
  @include flex-container(flex, flex-start, center);
  flex-direction: column;
  gap: 20px;

  &__flex {
    @include flex-container(flex, flex-start, center);
    flex-direction: column;
    gap: 20px;
  }

  &__input {
    @include size(450px, 50px);
    background-color: $background-black;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 16px 15px;
    outline: none;
  }
  &__button {
    @include fonts($primary-white-color, 16px, 700, 30px);
    @include flex-container(flex, center, center);
    @include size(200px, 50px);
    gap: 25px;
    background-color: $accent-color;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
  }
  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 1200px) {
  .form-footer {
    &__label {
      @include positions3(absolute, 2886px, 815px);
      text-transform: capitalize
    }
    &__input {
      @include size(358px, 50px);
    }
    &__button-form {
      padding-right: 39px;
      @include positions(absolute, 200px, 50px, 2919px, 1185px);
    }
    &__icon-message {
      @include positions3(absolute, 2931px, 1330px);
    }
  }
  
}
