.header {
  @include flex-container(flex, space-between, center);
  border-bottom: 1px solid #ececec;
  width: 450px;
  height: 80px;
  flex-wrap: nowrap;

  &__menu {
    display: none;
    gap: 50px;
  }

  &__link {
    @include fonts($primary-black-color, 14px, 500, 16px);
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__contacts {
    display: none;
  }
  &__item {
    @include flex-container(flex, space-between, center);
    @include fonts($primary-text-color, 14px, 500, 16px);
    letter-spacing: 0.02em;
    text-decoration: none;
    gap: 10px;
  }
  &__link:hover,
  &__link:focus {
    border-bottom: 4px solid $accent-color;
    border-radius: 2px;
    padding-bottom: 19px;
  }
  
  &__item:hover &__path {
    fill: $accent-color;
  }

  &__item:hover,
  &__item:focus {
    color: $accent-color;
  }

  &__mobile-menu {
    border: none;
    background-color: inherit;
  }
  &__mobile-menu:hover,
  &__mobile-menu:focus,
  &__mobile-menu:active {
    fill: $accent-color;
  }
}

@media (max-width: 480px) {
  .header__logo {
    margin-left: 2%;
  }
  
  .header__mobile-menu {
    margin-right: 2%;
  }
}

@media (min-width: 768px) {
  .header__mobile-menu {
    display: none;
  }
}

//   .header {
//     @include flex-container(flex, flex-start, center);
//     flex-wrap: nowrap;
//     margin-left: 15px;
//     &__logo {
//       @include flex-container(flex, flex-start, flex-start);
//     }
//     &__menu {
//       gap: 50px;
//     }
//     &__contacts-menu {
//       display: flex;
//       flex-direction: column;
//       gap: 0px;
//       margin-left: 80px;
//     }
//     &__item {
//       @include fonts($primary-text-color, 12px, 500, 14px);
//     }
//     &__contacts-svg {
//       width: 14px;
//     }
//   }
//    section {
//     padding: 60px 0;
//   }
// }

@media (min-width: 1200px) {
  .header {
    &__logo {
      margin-right: 93px;
    }
    &__menu {
      @include flex-container(flex, space-between);
      margin-right: 339px;
    }
    &__contacts {
      @include flex-container(flex, space-between, center);
      width: 205px;
      gap: 40px;
    }
  }
}
