.social-media {
  @include flex-container(flex, flex-start, center);
  flex-direction: column;
  gap: 20px;

  &__set {
    @include flex-container(flex, center, center);
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
  }
  &__list-icons {
    @include size(44px, 44px);
    display: block;
    background: rgba(255, 255, 255, 0.1);
    @include flex-container(flex, center, center);
    border-radius: 25px;
  }
  &__list-icons:hover {
    background-color: $accent-color;
  }
  &__icons {
    fill: $primary-white-color;
  }
}

@media (min-width: 1200x) {
  .social-media {

    &__paragraph {
      position: absolute;
      top: 2886px;
      right: 930px;
    }
  }
  .set--icons {
    left: 517px;
    top: 1795px;
  }
  .paragraph--two {
    top: 1782px;
    right: 930px;
  }
}
