$varr: "Raleway", sans-serif;

$primary-black-color: #212121;
$primary-text-color: #757575;
$primary-white-color: #ffffff;

$accent-color: #2196f3;
$background-black: #2f303a;
$background-gray: #f5f4fa;
$button-filter: #f5f4fa;
$button-primary-hover: #188ce8;
$logo-black: #000000;
$text-white-opacity: #ffffff99;
$border-color:#75757580
